.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1518692118831-d2b55f1d014c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1379&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.test-css {
  color: #ffffff;
}

.test-css:hover {
  color: #26f7ff;
}
